/******************************************************************
For All
******************************************************************/
a {
	text-decoration: none !important;
}

.mb-0 {
	margin-bottom: 0px !important;
}

.mb-1 {
	margin-bottom: 10px !important;
}

.mb-2 {
	margin-bottom: 20px !important;
}

.mb-3 {
	margin-bottom: 30px !important;
}

.mb-4 {
	margin-bottom: 40px !important;
}

.mb-10 {
	margin-bottom: 100px !important;
}

.mt-1 {
	margin-top: 10px !important;
}

.mt-2 {
	margin-top: 20px !important;
}

.mt-3 {
	margin-top: 30px !important;
}

.mt-4 {
	margin-top: 40px !important;
}

.ml-4 {
	margin-left: 40px !important;
}

.mr-2 {
	margin-right: 20px !important;
}

.pt-1{
	padding-top: 10px !important;
}

.pt-2{
	padding-top: 20px !important;
}

.pt-3{
	padding-top: 30px !important;
}

.pt-4{
	padding-top: 40px !important;
}

.pb-1{
	padding-bottom: 10px !important;
}

.pb-2{
	padding-bottom: 20px !important;
}

.pb-3{
	padding-bottom: 30px !important;
}

.pb-4{
	padding-bottom: 40px !important;
}

.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}

.sm-alert {
	padding: 4px 10px 4px 10px;
	margin-bottom: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.pl-0 {
	padding-left: 0px !important;
}

.pl-1 {
	padding-left: 10px !important;
}

.pr-0 {
	padding-right: 0px !important;
}

.pr-1-5 {
	padding-right: 15px !important;
}

h3 {
	margin: 10px 0px 10px 0px !important;
}

.full-width {
	width: 100%;
}

.custom-file {
	position: relative;
	width: 100%;
}

.custom-file-input {
	position: relative;
	width: 100%;
	margin: 0;
	opacity: 0;
}

.custom-file-label {
	position: absolute;
	right: 0;
	left: 0;
	padding: 6px;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: 0 4px 4px 0;
}

@media (min-width: 992px)
.col-omd-2 {
    width: 20%;
    float: left;
    padding: 0 15px;
}

.col-oxs-2{
	width: 20%;
	float: left;
	padding: 0 15px;
}
/*************************************
Header
*************************************/
.top-first-bar {
	background-color: black;
}

.search-control {
	margin-top: 11px;
}

.login {
	margin-top: 15px;
	text-align: right;
}

.login-btn {
	color: red;
	font-size: 20px;
	cursor: pointer;
}

.login-btn:hover {
	color: yellow;
}

.login-form {
	padding: 20px !important;
}

.top-second-bar {
	background-color: lightgray;
}

.navbar-item {
	padding: 10px 0px 10px 0px;
	margin-right: 25px;
	float: left;
}

.navbar-item a {
	color: black;
	font-size: 16px;
}

.navbar-item a:hover {
	color: purple;
}

.navbar-item a:active {
	color: red;
}

.plr0 {
	padding: 0 !important;
}
/**************************************
Body
**************************************/
.body-web {
	background-color: #f2f2f2;
}

.bg-web {
	background-color: #fff;
}

.image-view {
	width: 100% !important;
	height: 100% !important;
}

/************************
Body Left
************************/
.add-to-playlist {
	position: fixed;
	width: 500px;
	height: 300px;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	padding: 25px;
	background: black;
	z-index: 1;
}

.body-left {
	padding: 0 !important;
	margin: 15px 0px 15px 0px;
}

.list-item {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.item {
	position: relative;
	border-style: solid;
	border-color: blue;
	border-radius: 5px 10px;
	border-width: 1px;
	height: 80px;
	margin-bottom: 5px;
}

.label-rank-top {
	position: absolute;
	top: 5px;
	left: 0;
	margin: 0 20px 0 20px;
	color: darkgoldenrod;
	font-size: 50px;
}

.label-status {
	position: absolute;
	top: 0;
	left: 50px;
	margin: 0 20px 0 20px;
	color: black;
	font-size: 50px;
}

.info-song {
	position: absolute;
	top: 5px;
	left: 100px;
	margin: 0 20px 0 20px;
}

.song-name {
	color: red;
	font-size: 18px;
	font-weight: bold;
}

.song-name2 {
	color: blue;
	text-shadow: 0 0 1px aqua;
	font-size: 16px;
}

.song-name:hover {
	color: purple;
}

.singer-name {
	color: gray;
	font-size: 14px;
}

.singer-name:hover {
	color: blue;
}

.singer-name2 {
	color: blue;
	font-size: 14px;
	font-weight: bold;
}

.singer-name2:hover {
	color: goldenrod;
}

.time-top {
	color: purple;
}

.tool-song {
	position: absolute;
	top: 22px;
	right: 110px;
	margin: 0 20px 0 20px;
}

.number-listen {
	position: absolute;
	top: 23px;
	right: 0;
	margin: 0 20px 0 20px;
	text-align: center;
	font-size: 25px;
}

.color-purple {
	color: purple;
	cursor: pointer;
}

/***********************
Body Right
***********************/
.body-right {
	padding: 0 !important;
	margin: 15px 0 0px 0px;
}

.item-right h4 {
	display: inline;
}

.title-chart {
	position: relative;
}

.play-all-btn {
	color: gray;
	position: absolute;
	top: -7px;
	right: 25%;
	font-size: 25px;
}

.play-all-btn:hover, .artic-play-all-btn:hover {
	color: orange;
}

.text-view-more {
	color: blue;
}

.text-view-more:hover {
	color: orange;
}

.item-right {
	margin: 10px 0 10px 0;
}

.item-chart {
	position: relative;
	border-style: solid;
	border-color: darkgray;
	border-radius: 4px;
	border-width: 1px;
	height: 60px;
	margin-bottom: 5px;
}

.label-rank-chart {
	position: absolute;
	top: 10px;
	left: 0;
	margin: 0 20px 0 20px;
	color: blue;
	font-size: 30px;
}

.label-img {
	position: absolute;
	top: 5px;
	left: -14px;
	margin: 0 20px 0 20px;
	color: blue;
	font-size: 30px;
	width: 50px;
}

.info-chart {
	position: absolute;
	top: 8px;
	left: 40px;
	margin: 0 20px 0 20px;
}

.song-name-chart {
	color: darkgreen;
	font-size: 14px;
}

.song-name-chart:hover {
	color: purple;
}

.singer-name-chart {
	color: gray;
	font-size: 12px;
}

.singer-name-chart:hover {
	color: blue;
}

.tool-chart {
	position: absolute;
	top: 20px;
	right: 20px;
}

/****************************************
Footer
****************************************/
.footer {
	background: #222428;
	text-align: center;
	color: #fff;
	font-size: 20px;
	padding: 20px 0 20px 0;
}

/************************************************************************
Play HTML
************************************************************************/
.margin-top-20 {
	margin-top: 20px;
}

.play-song {
	width: 100%;
	height: auto;
}

.btn-tool {
	position: relative;
}

.listen-time {
	font-size: 25px;
	position: absolute;
	top: 1px;
	right: 0;
}

.listen-time img {
	position: absolute;
	top: 9px;
	right: 130px;
}

.info-play-song {
	margin-top: 10px;
}

.avatar {
	height: 80px;
	border-radius: 50%;
}

.text-command {
	width: 100%;
	height: 80px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 4px;
}

/*************************************************************************
Login Register
*************************************************************************/
.image-view-login {
	margin-top: 100px;
	text-align: center;
}

.pd-login {
	padding: 0 0 0 15px !important;
}

.pd-register {
	padding: 0 15px 0 0 !important;
}

.bg-login {
	background-color: lightgreen;
	padding: 10px;
	border-radius: 5px 0 0 5px;
	border-color: green;
	border-style: solid;
	border-width: 3px 1.5px 3px 3px;
	cursor: pointer;
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.bg-register {
	background-color: lightgreen;
	padding: 10px;
	border-radius: 0 5px 5px 0;
	border-color: green;
	border-style: solid;
	border-width: 3px 3px 3px 1.5px;
	cursor: pointer;
	color: black;
	font-weight: bold;
	font-size: 18px;
}

.bg-is-selected {
	background-color: lightgreen !important;
	text-shadow: 0 0 3px cyan, 0 0 5px blue;
}

.background-login-page {
	background-image: url('../images/background-login-page.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: white;
	background-size: cover;
}

.bg-form {
	padding: 20px;
	border-radius: 5px;
	border-style: solid;
	border-color: green;
	border-width: 1.5px;
	background-color: #f2f2f2;
	margin-bottom: 150px;
}

/**************************************************************************************
Play list
**************************************************************************************/

/*******************************
Left
*******************************/
.ul-playlist b, .a-playlist b {
	color: black;
	font-size: 18px;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
}

.ul-playlist b:hover, .a-playlist b:hover, .ul-playlist li a:hover {
	color: blue !important;
	text-shadow: 0 0 3px red;
}

.pl-selected {
	color: red !important;
	font-weight: bold;
}

.ul-playlist li {
	margin-top: 5px;
	padding: 3px;
}

.ul-playlist li a {
	color: grey;
	font-size: 16px;
	padding: 5px 10px 5px 10px;
}

/*******************************
Right
*******************************/
.img-avatar-user {
	width: 50px;
}

.pl-title-top {
	color: purple;
}

.pl-new-playlist span {
	margin-right: 10px;
	margin-left: 10px;
}

.pl-new-playlist {
	font-size: 20px;
	color: blue;
}

.pl-new-playlist:hover {
	color: orange;
}

.pl-new-playlist:active {
	color: red;
}

.pl-my-playlist {
	height: 100px;
	position: relative;
}

.pl-avatar-img {
	width: 200px;
}

.pl-info {
	position: absolute;
	top: 15px;
	left: 240px;
}

.playlist-name a {
	font-weight: bold;
	font-size: 18px;
	color: black;
}

.playlist-name a:hover {
	color: orange;
}

.playlist-name a:active {
	color: red;
}

.playlist-content-info span {
	color: gray;
}

.playlist-content-info p a {
	font-weight: bold;
	font-size: 16px;
	color: black;
	text-shadow: 0 0 0 aqua;
}

.playlist-content-info p a:hover {
	color: goldenrod;
	text-shadow: 0 0 0 red;
}

.playlist-content-info p a:active {
	color: red;
}

.playlist-btn {
	color: gray;
	font-size: 30px;
	background: none;
	border-style: none;
	margin-left: 20px;
}

.playlist-btn-nm {
	color: gray;
	font-size: 20px;
	background: none;
	border-style: none;
	margin-left: 20px;
}

.playlist-btn-sm {
	color: gray;
	font-size: 15px;
	background: none;
	border-style: none;
	margin-left: 20px;
}

.playlist-btn:hover, .playlist-btn-sm:hover, .playlist-btn-nm:hover {
	color: orange !important;
	cursor: pointer;
}

.playlist-btn:active, .playlist-btn-sm:active, .playlist-btn-nm:active {
	color: red !important;
}

.playlist-btn:visited, .playlist-btn-sm:visited, .playlist-btn-nm:visited
	{
	color: gray;
}

.pl-playlist-item {
	background: #f2f2f2;
	height: 50px;
	padding: 15px 20px 15px 10px;
	font-size: 15px;
	border-style: solid;
	border-width: 0px 1px 1px 1px;
	border-color: gray;
}

.lyric-f2 {
	background: #f2f2f2;
	padding: 15px;
	border-radius: 4px;
}

.pl-playlist-item-boder-top {
	border-width: 1px;
}

.play-this-song {
	cursor: pointer;
}

.pl-playlist-sing, .play-this-song {
	color: gray;
}

.play-this-song:hover, .pl-playlist-sing:hover {
	color: blue;
}

.play-this-song:active, .pl-playlist-sing:active {
	color: purple;
}

.play-this-song:visited, .pl-playlist-sing:visited {
	color: gray;
}

/*add class duoi nay vo bai hat dang duoc phat*/
.playing-song {
	color: blue;
	background: lightgray;
}

/*******************************************************************************
Nghe Si
*******************************************************************************/
.main-relative {
	position: relative;
	height: 350px;
	background-image: url('../images/background-login-page2.png');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
}

.avatar-artist {
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 20%;
	padding: 0 15px;
}

.full-width{
	width: 100%;
}

.info-summary {
	position: absolute;
	bottom: 15px;
	right: 0;
	width: 80%;
	padding: 0 15px;
}

.name-artist{
	font-size: 30px;
	color: red;
}

.lyric-f1 {
	color: white;
	font-size: 16px;
	margin: 0;
}

.artics-listsong-item {
	padding: 15px 20px 15px 10px;
	font-size: 15px;
}

.hr-css {
	margin: 5px 0 5px 0;
	border-top: 1px solid #8f8f8f;
}

.hr-css1 {
	margin: 11px 0;
	border-top: 1px solid #8f8f8f;
}

.hr-css2 {
	margin: 20px 0;
	border-top: 1px solid #8f8f8f;
}

.linksong {
	color: black;
}

.linksong span, .sort-song a span {
	color: gray;
}

.linksong:hover, .linksong span:hover, .sort-song a span:hover {
	color: purple;
}

.artist-play-all-btn a{
	color: gray;
}

.sort-song {
	position: absolute;
	right: 0;
	top: 16px;
	font-size: 14px;
}

/******************************************************************************
Info Account
*******************************************************************************/
.info-account-border-left {
	text-align: right;
	margin: 30px 0 30px 0;
	padding: 0px !important;
	border-radius: 15px;
	border-top: solid gray 2px;
	border-left: solid gray 15px;
	border-bottom: solid gray 10px;
	border-right: solid gray 2px;
	height: 581px;
}

.info-account-border-right {
	margin: 30px 0 30px 0;
	padding: 50px 30px 50px 0px !important;
	border-radius: 15px;
	border-top: solid gray 2px;
	border-left: solid gray 2px;
	border-bottom: solid gray 10px;
	border-right: solid gray 15px;
	height: 581px;
}

.file-control {
	margin-top: 5px;
}

/********************************************************************************
Edit Playlist
*********************************************************************************/
.edit-playlist-item-song .col-md-9, .edit-playlist-item-song .col-md-9 a
	{
	font-size: 18px;
	color: black;
	text-shadow: 0 0 0 aqua;
	cursor: pointer;
}

.edit-playlist-item-song .col-md-9:hover, .edit-playlist-item-song .col-md-9 a:hover
	{
	color: orange;
}

.edit-playlist-item-song .col-md-9:active, .edit-playlist-item-song .col-md-9 a:active
	{
	color: red;
}

/********************************************************************************
Chart
*********************************************************************************/
.top-10-chart-video, .top-10-chart-video a {
	color: black;
	text-shadow: 0 0 0 aqua;
	font-size: 16px;
	cursor: pointer;
	padding: 10px 0 0 0;
}

.top-20-chart-song, .top-20-chart-song a {
	color: black;
	text-shadow: 0 0 0 aqua;
	font-size: 20px;
	cursor: pointer;
	padding: 0;
}

.top-10-chart-video:hover, .top-10-chart-video a:hover,
	.top-20-chart-song:hover, .top-20-chart-song a:hover {
	color: purple;
}

.border-chart {
	border-left: solid 1px goldenrod;
}

.rank-chart-video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	z-index: 1;
	color: blue;
	text-shadow: 0 0 10px aqua, 0 0 20px yellow;
	font-size: 50px;
	font-family: Segoe UI Black;
}

.image-avatar {
	width: 60px;
	height: 60px;
}

.my-img-120 {
	height: 120px !important;
}

.my-img-150 {
	height: 150px !important;
}

.my-img-180 {
	height: 180px !important;
}

.my-img-200 {
	height: 200px !important;
}


.playing-song {
	color: blue;
	background: lightgray;
}

.playing-song .playing-song-text-color {
	color: #30A5FF;
}

.easy-autocomplete-container ul {
	top: 36px !important;
}

.height-image-playlist {
	height: 121px !important;
	width: 100% !important;
}

.img-max-height {
	max-height: 100% !important;
}

#list-song {
	height: 150px;
	overflow: auto;
}

.edit-playlist-song-name span, .edit-playlist-song-name span a {
	color: black;
	text-shadow: 0 0 0 aqua;
	font-size: 20px;
}

.edit-playlist-song-name span:hover, .edit-playlist-song-name span a:hover
	{
	color: purple;
	text-shadow: 0 0 1px red;
}